.FilmEdit {
    max-width: 500px;
}

.FilmEdit-banner {
    height: 200px;
}

.FilmEdit-description {
    width: 100%;
}

.FilmEdit-name {
    width: 100%;
}

.FilmEdit-text {
    width: 40%;
}

.FilmEdit-textContainer {
    display: flex;
    justify-content: space-between;
}